---
layout: default
---


<article class='post'>
    <h1 class='post-title'>
        <a href="{{ page.url }}">{{ page.title }}</a>
    </h1>
    <figure>
        <img class="img-responsive" src="{{ page.upload_directory }}/thumb_master.jpg" alt="{{ page.title }}" />
    </figure>
    <div class='post-description'>
        {{ content }}
    </div>
</article>

<p class="text-center">
    <small>Posted on
        <time class='date' datetime='{{ page.date | date: "%Y-%m-%dT00:00:00+01:00" }}'>{{ page.date | date_to_string }}</time> by {{ site.data.authors[page.author].name }}
    </small>
</p>

{% include share-buttons.html %}

{% include disqus-comments.html %}